[submodule "src/internal/toml"]
	path = src/internal/toml
	url = https://github.com/BurntSushi/toml.git
[submodule "src/internal/ar"]
	path = src/internal/ar
	url = https://github.com/blakesmith/ar.git
[submodule "src/internal/cpio"]
	path = src/internal/cpio
	url = https://github.com/surma/gocpio.git
